/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
public/hot
public/storage
public/fonts
public/js
public/css
public/mix-manifest.json
storage/*.key
.idea
.vscode
nbproject
.vagrant
\.php_cs\.cache
tags

public/fonts/vendor/font-awesome/
tags\.lock

tags\.temp
docker-compose.yml

public/images/.DS_Store

storage/app/public/reports/audits/

storage/app/public/.DS_Store

storage/app/public/reports/.DS_Store

public/.DS_Store

.DS_Store
